<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Paypal Payment</title>
</head>
<body>
<h1><strong>paypal account test</strong><br>
    email : sb-bxafw23452958@personal.example.com<br>
    email outofmoney : testapipaypal@paypal.com<br>
    pass : tmdt12345</h1>
<br>
<h1> <strong>business account</strong><br>
    email : sb-af47va23429714@business.example.com<br>
    pass : TMDT12345<br>

</h1>

<form method="post" action="/pay">
    <input type="text" value="5" name="price" />
    <button type="submit"> Payment with Paypal </button>
</form>
</body>
</html>